body {
    font-family: "Roboto";
    margin: 0;
}
.section-1 {
    background-color: #0d2378;
    display: flex;
    padding: 12px 80px 80px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
a {
    text-decoration: none;
    color: #d9e0ff;
    text-align: right;
    padding-left: 10px;
    align-items: center;
    font-size: 12px;
}
.links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header-links {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 525px;
}
.header-body {
    display: flex;  
    flex-direction: row;
    width: 800px;
    flex-wrap: wrap;
    column-gap: 25px;
    justify-content: center;
}
.body-text {
    display: flex;
    flex-direction: column;
    width: 250px;
    justify-content: space-between;
    
}
h2 {
    color:whitesmoke;
    margin-top: 0;
}
.header-body-text {
    color: #d9e0ff;
    white-space: pre-line;
}
button {
    color:whitesmoke;
    background-color:#2e9963;
    border: none;
    width: 80px;
    border-radius: 8px;
    padding: 8px;
    margin-top: 20px;
}
.section-2 {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 50px;
}
img {
    border-radius: 8px;
}
h3 {
    color:#0d2378;
    align-items: center;
}
.icons {
    display: flex;
    flex-direction: row;
    width: 500px;
    justify-content: space-between;
}
.icons img {
    border: 3px solid #2e9963;
}
.icons p {
    font-size: 10px;
    text-align: center;
    margin-top: 2px;
}
.quote-section {
    background-color: #e1e3e3;
    padding:70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.quote {
    font-size: 24px;
    font-weight:lighter;
    font-style: italic;
    width: 415px;
}
.quote-author {
    font-size: 14px;
    display: flex;
    margin: auto;
    justify-content: flex-end;
    width: 415px;
}